.question-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.question-horizontal .question {
  width: 20mm;
  margin-bottom: 1rem;
  border: 1px dotted gray;
  padding-top: 1mm;
  padding-bottom: 1mm;
  padding-left: 1mm;
  padding-right: 1mm;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.question-horizontal .question .number1 {
  flex: 0 0 auto;
  width: 5mm; 
  order: 1;
}
.question-horizontal .question .symbol {
  flex: 0 0 auto;
  width: 5mm; 
  order: 2;
  text-align: center;
}
.question-horizontal .question .number2 {
  flex: 0 0 auto;
  width: 5mm; 
  order: 3;
}
.question-horizontal .question .equal {
  flex: 0 0 auto;
  width: 5mm; 
  order: 4;
}
.question-horizontal .question .equal::after {
  content: '=';
}
.question-horizontal .question .outcome {
  flex: 1 1 auto;  
  order: 5;
}